# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*

# Editor/OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Caches
.cache/
coverage/

# Build output (keep dist if you want to deploy static build)
# dist/